@page
@model Ecommerce.Frontend.Pages.Authentication.NewPasswordModel

@{

    Layout = "_CommonMasterLayout";

    ViewData["Title"] = "Reset Password";
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/app.min.css">
}


@* Toast Container *@
@if (Model.IsPostSubmitted)
{
    var isSuccess = Model.ApiResponse.Message == "Your password reset successfully!";

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="@(isSuccess ? "liveToastSuccess" : "liveToastError")" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header @(isSuccess ? "" : "bg-danger text-white")">
                @if (isSuccess)
                {
                    <div class="auth-logo me-auto">
                        <img class="logo-dark" src="~/images/logo-dark.png" alt="logo-dark" height="18" />
                        <img class="logo-light" src="~/images/logo-light.png" alt="logo-light" height="18" />
                    </div>
                }
                else
                {
                    <i class="bi bi-exclamation-circle-fill me-2"></i>
                    <strong class="me-auto">Error</strong>
                }
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body @(isSuccess ? "" : "text-danger")">
                @Model.ApiResponse.Message

            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toastEl = document.getElementById('@(isSuccess ? "liveToastSuccess" : "liveToastError")');
            const toast = new bootstrap.Toast(toastEl);
            toast.show();

        @* Only redirect for success *@
            if (toastEl.id === 'liveToastSuccess') {
                toastEl.addEventListener('hidden.bs.toast', () => {
                    window.location.href = '/Authentication/Login';
                });

                setTimeout(() => {
                    if (!toastEl.classList.contains('show')) {
                        window.location.href = '/Authentication/Login';
                    }
                }, 3000);
            }
        });
    </script>
}


<div class="d-flex flex-column h-100 p-3">
    <div class="d-flex flex-column flex-grow-1">
        <div class="row h-100">
            <div class="col-xxl-7">
                <div class="row justify-content-center h-100">
                    <div class="col-lg-6 py-lg-5">
                        <div class="d-flex flex-column h-100 justify-content-center">
                            <div class="auth-logo mb-4">
                                <a href="~/" class="logo-dark">
                                    <img src="~/images/logo-dark.png" height="24" alt="logo dark">
                                </a>

                                <a href="~/" class="logo-light">
                                    <img src="~/images/logo-light.png" height="24" alt="logo light">
                                </a>
                            </div>

                            <h2 class="fw-bold fs-24">Reset Password</h2>

                            <p class="text-muted mt-1 mb-4">Enter your OTP Code Send to your mail </p>

                            <div>
                                <form method="post">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="ResetPassword.NewPassword">New Password</label>
                                        <input type="password" class="form-control" asp-for="ResetPassword.NewPassword" placeholder="Enter your password" required />
                                        <span asp-validation-for="ResetPassword.NewPassword" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" asp-for="ResetPassword.ConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" asp-for="ResetPassword.ConfirmPassword" placeholder="Enter your password" required />
                                        <span asp-validation-for="ResetPassword.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="mb-1 text-center d-grid">
                                        <button class="btn btn-primary" type="submit">Reset Password</button>
                                    </div>
                                </form>

                            </div>

                            <p class="mt-5 text-danger text-center">Back to<a href="~/Authentication/Login" class="text-dark fw-bold ms-1">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-5 d-none d-xxl-flex">
                <div class="card h-100 mb-0 overflow-hidden">
                    <div class="d-flex flex-column h-100">
                        <img src="~/images/small/img-10.jpg" alt="" class="w-100 h-100">
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
    </div>
</div>
